@model IEnumerable<Job>
@{
    ViewData["Title"] = "Должности";
}

<h2>Список должностей</h2>
<p><a asp-action="CreateJob">Добавить должность</a></p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Наименование должности</th>
        <th>Оклад</th>
        <th>Обязанности</th>
        <th>Требования</th>
    </tr>
    @foreach(var job in Model){
        <tr>
            <td>@job.JobId</td>
            <td>@job.Name</td>
            <td>@job.Salary</td>
            <td>@job.Responsibilities</td>
            <td>@job.Requirements</td>
            <td>
                <a asp-action="EditJob" asp-route-id="@job.JobId">Изменить</a>
                <a asp-action="DeleteJob" asp-route-id="@job.JobId">Удалить</a>
            </td>
        </tr>
    }
</table>